* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  touch-action: manipulation;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* Prevent elastic scrolling on ios */
html {
  overflow: hidden;
  background-color: rgb(38, 38, 38);
}

.table {
  display: grid;
  min-height: 100%;
  grid-template-columns: repeat(1, 1fr);
  gap: 8;
}
