* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  touch-action: manipulation;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* Prevent elastic scrolling on ios */
html {
  overflow: hidden;
}

.parent {
  min-height: 100%;
  background-color: rgb(38, 38, 38);
  position: relative;
}
